{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
        <nav class="navbar navbar-expand-lg navbar-light"style="background-color:#CED8F6;">
            <div class="navbar-nav" id="navbarSupportedContent">
                <div class="container">
                    <div class="row">
                        <a class="nav-link" href=/><div class="col-xs-12 col-sm-6 col-md-1 header">Logout</div></a>
                    </div>
                </div>
            </div>
        </nav>




        <div class="container-fluid mx-auto text-center about-contents" id="about">
            <h1> 条件指定 </h1>
            <ul class="list-group">
                <li class="list-group-item"> <a href=/showcostByCategory/{{person[0].id}}>カテゴリーで確認する</a></li>
                <li class="list-group-item"><a href=/showcostByYear/{{person[0].id}}>年で確認する</a></li>
            </ul>
        </div>
{% endblock %}
