<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/style.css" rel="stylesheet">

        {% block javascripts %}
            <script src="js/bootstrap.min.js"></script>
        {% endblock %}

        <title>{% block page %}{% endblock %}</title>


        <style type="text/css">
            {% block stylesheets %}{% endblock %}
            .header {
                text-align: left;
                height: 3em;
                line-height: 3em;
                color: #585858;
                font-size: 20px;
            }
            .body{
                text-align: center;
            }
            .footer{
                position: fixed;
                bottom: 0px;
            }
        </style>

    </head>


    <body>

        <div class="body">
            {% block body %}{% endblock %}
        </div>


        <div id="footer">
            <p class="text-center">copyright 2019 MasayaSuzuki.</p>
        </div>

    </body>
</html>


